<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head(title='List of Movements')"></head>

<body>

<nav th:replace="layouts :: navbar(caller='movements')"></nav>

<div>
    <a  th:href="${baseUrl}+'/new'" class="btn btn-primary btn-sm mb-3">New Movement</a>

    <h2>List of Movements: </h2>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aMovement : ${movementsList}">
                    <td th:text="${aMovement.valueDate}"></td>
                    <td th:text="${aMovement.name}"></td>
                    <td th:text="${aMovement.signedAmount}"></td>
                    <td th:text="${aMovement.categoryName}"></td>
                    <td><a th:href="${aMovement.updateLink}" class="btn btn-primary btn-sm">Edit</a></td>
                    <td><a th:href="${aMovement.deleteLink}" class="btn btn-primary btn-sm">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>