<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories List</title>
</head>
<body>

<a  th:href="${baseUrl}+'/new'">New Category</a>

<h2>Categories List</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aCategory : ${categoriesList}">
        <td th:text="${aCategory.name}"></td>
        <td th:if="${aCategory.flagActive}">Active</td>
        <td th:unless="${aCategory.flagActive}">Disabled</td>
        <td><a th:href="${baseUrl}+'/update?id='+${aCategory.id}">Edit</a></td>
        <td><a th:if="${aCategory.flagActive}" th:with="statusUrl=${baseUrl}+'/change_status'" th:href="@{${statusUrl}(id=${aCategory.id}, enable=false)}">Disable</a></td>
        <td><a th:unless="${aCategory.flagActive}" th:with="statusUrl=${baseUrl}+'/change_status'" th:href="@{${statusUrl}(id=${aCategory.id}, enable=true)}">Enable</a></td>
        <td><a th:href="${baseUrl}+'/delete?id='+${aCategory.id}">Delete</a><td>
    </tr>
    </tbody>
</table>

</body>
</html>