<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head(title='List of Categories')"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<a  th:href="${baseUrl}+'/new'" class="btn btn-primary btn-sm mb-3">New Category</a>

<h2>Categories List</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aCategory : ${categoriesList}">
                <td th:text="${aCategory.name}"></td>
                <td th:text="${aCategory.active}"></td>
                <td th:unless="${aCategory.flagDefault}"><a th:href="${aCategory.updateLink}" class="btn btn-primary btn-sm mb-3">Edit</a></td>
                <td th:unless="${aCategory.flagDefault}"><a th:href="${aCategory.enableDisableLink}" th:text="${aCategory.enableDisableText}" class="btn btn-primary btn-sm mb-3">Edit</a></td>
                <td th:unless="${aCategory.flagDefault}"><a th:href="${aCategory.deleteLink}" class="btn btn-primary btn-sm mb-3">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>