<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories List</title>
</head>
<body>

<a  th:href="${baseUrl}+'/new'">New Category</a>

<h2>Categories List</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aCategory : ${categoriesList}">
        <td th:text="${aCategory.name}"></td>
        <td th:text="${aCategory.active}"></td>
        <td th:unless="${aCategory.flagDefault}"><a th:href="${aCategory.updateLink}">Edit</a></td>
        <td th:unless="${aCategory.flagDefault}"><a th:href="${aCategory.enableDisableLink}" th:text="${aCategory.enableDisableText}">Edit</a></td>
        <td th:unless="${aCategory.flagDefault}"><a th:href="${aCategory.deleteLink}">Delete</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>