<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories Form</title>
</head>
<body>

<h2 th:text="${action}+' Category'"></h2>
<div th:if="${flagInactiveCategory}">Category disabled - edit not permitted</div>
<div>
    <form  th:action="${okButtonUrl}" th:object="${category}" method="POST">
        <input type="hidden" th:field="${category.id}" />
        <input type="text" placeholder="Name" th:field="${category.name}" th:disabled="${disableFormFields}"/> <br/>
        <textarea type="text" placeholder="Description" th:field="${category.description}" th:disabled="${disableFormFields}"/> <br/>
        <select th:field="${category.fallbackCategoryId}" th:disabled="${disableFormFields}" />
        <option th:each="fallback: ${fallbackCategories}" th:value="${fallback.id}" th:text="${fallback.name}" th:selected="${category.fallbackCategoryId}==${fallback.id}"></option>
        </select> <br/>


        <button type="submit" th:text="${action}"></button> <br/>
        <a th:href="${baseUrl}">Back</a>
    </form>
</div>

</body>
</html>